*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 1em;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

html,
body,
.app {
    height: 100vh;
    background: #eee;
}
